body{
    margin: 0;
    background-color: rgb(249, 249, 249);
    box-sizing: border-box;
}

header{
    height: 70px;
    background-color: white;
}

#logo{
    vertical-align: middle;
    margin: 10px;
}

#titolologo{
    vertical-align: middle;
    font-size: 40px;
}

#container{
    background-color: white;
    width: 50%;
    height: 650px;    
    border-radius: 10px; 
    border: white;
    margin: 300px;
    margin-top: 60px;
}

.task{
    background-color: rgb(42, 165, 241);
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: bold;
    border: rgb(42, 165, 241) solid 1px;

}
.section{
    background-color: white;
    color: rgb(204, 204, 204);
    border-radius: 10px;
    padding: 5px 10px;
    border: rgb(204, 204, 204) solid 1px;
    font-weight: bold;
}   

#intestlista{
    border-bottom:3px solid rgb(249, 249, 249);
    padding: 10px;
    padding-left: 50px;
}

.text{
    border-radius: 5px;
    padding: 5px 10px;  
    font-size: 12px;
    color: white;

}

.azzurro{
    background-color: rgb(42, 165, 241) ;
}

.viola{
    background-color: purple ;
}

.verde{
    background-color: green ;
}

.arancio{
    background-color: orange ;
}

.rosa{
    background-color: pink ;
}

.senape{
      background-color: greenyellow ;
}

.titololista{
    margin-bottom: 0px;
}

.corpolista{
    margin-bottom: 30px;
    padding-left: 50px;
}

.check{
    color: rgb(35, 196, 2);
    border: 1px solid rgb(35, 196, 2);
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border-radius: 20px;
    margin-right: 10px;
}

.cross{
    color: rgb(223, 12, 12);
    border: 1px solid rgb(223, 12, 12);
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border-radius: 20px;
    margin-right: 10px;
}